<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello</h1>
    <form method="POST" action='/register'>
        <h3>Регистрация</h3>
        <p>Имя</p>
        <input type="text" name="username">
        <p>Логин</p>
        <input type="text" name="login">
        <p>Пароль</p>
        <input type="password" name="password">
        <div style="margin-top: 30px;">
            <button type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
        </div>
    </form>
    <a href="/login">Вход</a>
</body>

</html>